@charset "UTF-8";
html {
  font-size: 16px;
}

@media (min-width) {
  html {
    font-size: 12px;
  }
  h1 {
    font-size: 150%;
  }
}

/* Pour tablette portrait -sm */
@media (min-width: 600px) {
  html {
    font-size: 12px;
  }
  h1 {
    font-size: 150%;
  }
  /*Pour tablette paysage -md*/
}

@media (min-width: 600px) and (min-width: 900px) {
  html {
    font-size: 16px;
  }
  h1 {
    font-size: 150%;
  }
}

@media (min-width: 600px) {
  /*Pour desktop - lg*/
}

@media (min-width: 600px) and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
  h1 {
    font-size: 150%;
  }
}

@media (min-width: 600px) {
  /* Pour desktop-xl*/
}

@media (min-width: 600px) and (min-width: 1800px) {
  html {
    font-size: 16px;
  }
  h1 {
    font-size: 150%;
  }
}

/*.container{
    width:100%;
    max-width: 1200px;
    margin:0 auto;
}

/* Temporaire*/
/* a mettre*/
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 -15px;
}

[class^="col-"] {
  padding: 0 15px;
  min-height: 50px;
  background-clip: content-box;
}

/* Pour mobile -xs*/
.col-xs-1 {
  width: 8.33333%;
}

.col-xs-2 {
  width: 16.66666%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-5 {
  width: 41.66666%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333%;
}

.col-xs-8 {
  width: 66.66666%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333%;
}

.col-xs-11 {
  width: 91.66666%;
}

.col-xs-12 {
  width: 100%;
}

/* Pour tablette portrait -sm */
@media (min-width: 600px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66666%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66666%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66666%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66666%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

/*Pour tablette paysage -md*/
@media (min-width: 900px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66666%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/*Pour desktop - lg*/
@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66666%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66666%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/* Pour desktop-xl*/
@media (min-width: 1800px) {
  .col-xl-1 {
    width: 8.33333%;
  }
  .col-xl-2 {
    width: 16.66666%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33333%;
  }
  .col-xl-5 {
    width: 41.66666%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33333%;
  }
  .col-xl-8 {
    width: 66.66666%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33333%;
  }
  .col-xl-11 {
    width: 91.66666%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

.header {
  background-image: url(assets/valeriia-bugaiova-_pPHgeHz1uk-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.headerContainer {
  font-family: 'poppins', sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  display: block;
  padding: 150px;
}

.headerContainer h1 {
  font-family: 'PlayFairDisplay', sans-serif;
  font-size: 150%;
  font-weight: bold;
}

.Gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.gallery__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 33%;
  padding-bottom: 20px;
  margin: 0;
}

.gallery__item--1 {
  width: 66%;
  padding-bottom: 20px;
}

.relative_item {
  position: relative;
}

.absoluteTextGallery {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
}

.absoluteTextGallery h5 {
  margin: 0px;
  font-family: 'Playfair Display';
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.25px;
  color: #ffffff;
}

.absoluteTextGallery p {
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #ffffff;
}

.absoluteTextGallery p span {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.bookNow {
  background-color: white;
  margin-right: auto;
  padding: 0px 0px 0px 150px;
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
}

.bookNow form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.bookNow ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
}

.bookNow ul input {
  list-style: none;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #2c3f58;
  border: none;
}

.bookNow ul select {
  list-style: none;
  text-decoration: none;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #2c3f58;
  border: none;
}

.bookNow ul li {
  padding: 10px;
  padding-left: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bookNow ul label {
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.8px;
  color: #a9acb5;
}

.bookNow ul .line {
  padding: 0;
  margin: 25px;
  width: 40px;
  height: 1px;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  opacity: 0.3;
  background-color: #a9acb5;
}

.bookNow .btn-bookNow {
  background-color: #fe5303;
  padding: 30px;
  cursor: pointer;
  width: 20%;
  margin-left: 155px;
}

.bookNow .btn-bookNow p {
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.8px;
  color: #ffffff;
}

.bookNow .btn-bookNow a {
  text-decoration: none;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.3px;
  color: #ffffff;
}

.titleSochi {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.titleSochi h2 {
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: normal;
  color: #2c3f58;
}

.titleSochi .article-meta {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.81;
  letter-spacing: normal;
  color: #a9acb5;
  text-transform: uppercase;
}

.titleSochi p {
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.81;
  letter-spacing: normal;
  color: rgba(44, 63, 88, 0.8);
}

.titleSochi .article-meta-post {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.81;
  letter-spacing: normal;
  color: rgba(44, 63, 88, 0.8);
  text-transform: uppercase;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

.btn-load {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn-load .loadMore {
  cursor: pointer;
  border: none;
  padding: 10px 45px;
  border-radius: 32px;
  -webkit-box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
          box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
  background-color: #fe5303;
}

.btn-load .loadMore a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.btn-reservation {
  width: 20%;
  margin-left: auto;
}

.btn-reservation button {
  cursor: pointer;
  border: none;
  padding: 10px 45px;
  border-radius: 32px;
  -webkit-box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
          box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
  background-color: #fe5303;
}

.btn-reservation button a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.btn-reservation-white button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  border: none;
  padding: 20px 40px;
  border-radius: 32px;
  -webkit-box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
          box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
  background-color: #ffffff;
}

.btn-reservation-white button a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fe5303;
}

.btn-reservation-orange {
  width: 40%;
  margin: 0 auto;
}

.btn-reservation-orange button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  border: none;
  border-radius: 32px;
  padding: 10px 40px;
  background-color: #fe5303;
}

.btn-reservation-orange button a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.btn-reservation-orange button .lineBtn {
  width: 20px;
  height: 1px;
  border: 1px solid #ffffff;
}

.btn-reservation-orange button .triangle {
  margin-top: -3px;
  width: 0;
  height: 0;
  border-bottom: 5px solid #ffffff;
  border-right: 5px solid transparent;
}

.btn-explore-white button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  border: none;
  padding: 20px 40px;
  background-color: #ffffff;
}

.btn-explore-white button a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2c3f58;
}

.btn-explore-white button .lineBtn {
  width: 20px;
  height: 1px;
  border: 1px solid #2c3f58;
}

.btn-explore-white button .triangle {
  margin-top: -3px;
  width: 0;
  height: 0;
  border-bottom: 5px solid #2c3f58;
  border-right: 5px solid transparent;
}

.arrowBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.arrowBtn .lineBtn {
  width: 20px;
  height: 1px;
  border: 1px solid #fe5303;
}

.arrowBtn .triangle {
  margin-top: -3px;
  width: 0;
  height: 0;
  border-bottom: 5px solid red;
  border-right: 5px solid transparent;
}

.stickyBuble {
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 80%;
}

.stickyBuble .absoluteBuble {
  position: relative;
}

.stickyBuble .absoluteBuble .iconebubble {
  -webkit-box-shadow: 0 64px 64px 0 rgba(44, 63, 88, 0.05), 0 0 32px 0 rgba(44, 63, 88, 0.05), 0 16px 16px 0 rgba(44, 63, 88, 0.03), 0 8px 8px 0 rgba(44, 63, 88, 0.03), 0 4px 4px 0 rgba(44, 63, 88, 0.03), 0 2px 2px 0 rgba(44, 63, 88, 0.04);
          box-shadow: 0 64px 64px 0 rgba(44, 63, 88, 0.05), 0 0 32px 0 rgba(44, 63, 88, 0.05), 0 16px 16px 0 rgba(44, 63, 88, 0.03), 0 8px 8px 0 rgba(44, 63, 88, 0.03), 0 4px 4px 0 rgba(44, 63, 88, 0.03), 0 2px 2px 0 rgba(44, 63, 88, 0.04);
  background-color: #ffffff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  right: 3%;
}

.stickyBuble .absoluteBuble .iconebubble img {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  /* à 50%/50% du parent référent */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
  border-bottom: 1px solid #ccc;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
}

header nav .logoHeader {
  width: 20%;
  margin-right: auto;
}

header nav .logoHeader .logo-max-width {
  width: 150px;
}

header nav .logoHeader .logo-max-width a {
  text-decoration: none;
  cursor: pointer;
}

header nav .logoHeader .logo-max-width a img {
  width: 100%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  padding: 0 15px;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2c3f58;
}

header nav .btn-reservation {
  width: 20%;
  margin-left: auto;
}

header nav .btn-reservation button {
  border: none;
  padding: 10px 45px;
  border-radius: 32px;
  -webkit-box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
          box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
  background-color: #fe5303;
}

header nav .btn-reservation button a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

footer {
  height: 10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid #a9acb5;
  margin-top: 150px;
}

footer .footerItem1 {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

footer .line {
  width: 75px;
  height: 2px;
  border: 1px solid #2c3f58;
}

footer p {
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c3f58;
}

.linkSocialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.linkSocialMedia .socialLink {
  padding: 20px;
}

.linkSocialMedia .socialLink .fab.fa-facebook-square {
  color: #a9acb5;
}

.linkSocialMedia .socialLink .fab.fa-twitter {
  color: #a9acb5;
}

.linkSocialMedia .socialLink .fab.fa-instagram {
  color: #a9acb5;
}

.heroHome {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
}

.heroHome p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.5px;
  color: #ffffff;
}

.heroHome h1 {
  margin: 0;
  font-family: "Playfair Display";
  font-size: 80px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: 0.05px;
  color: #ffffff;
}

.heroHome .btn-adventure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroHome .btn-adventure .videoPlayer {
  padding: 20px;
}

.heroHome .btn-adventure .videoPlayer .borderCircle {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 0.5px solid #ffffff;
  position: relative;
}

.heroHome .btn-adventure .videoPlayer .borderCircle .circleVideoPlayer {
  position: absolute;
  top: 50%;
  left: 50%;
  /* à 50%/50% du parent référent */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* décalage de 50% de sa propre taille */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  z-index: 0;
}

.heroHome .btn-adventure .videoPlayer .borderCircle .fas.fa-play {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  /* à 50%/50% du parent référent */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* décalage de 50% de sa propre taille */
}

.mainContent {
  width: 80%;
  margin: 0 auto;
}

.mainContent .containerStatsHome {
  margin-top: 100px;
}

.mainContent .containerStatsHome ul li p {
  font-family: 'Playfair Display';
  font-size: 96px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c3f58;
}

.mainContent h4 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.5px;
  color: #a9acb5;
  margin-top: 100px;
}

.mainContent h2 {
  font-family: "Playfair Display";
  font-size: 64px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: normal;
  color: #2c3f58;
}

.mainContent img {
  max-width: 100%;
  height: auto;
}

.mainContent h3 {
  font-family: "Playfair Display";
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #2c3f58;
}

.containerTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerTitle .titleRooms {
  width: 85%;
}

.containerTitle .linkRooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.containerTitle .linkRooms a {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #fe5303;
  text-decoration: none;
}

.containerTitle .linkRooms .lineLinkRoom {
  margin-left: 10px;
  width: 60px;
  height: 1px;
  background-color: #fe5303;
}

.containerBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.containerBlog .gutter {
  padding: 50px;
}

.containerBlog .cardBlog {
  height: auto;
  width: 50%;
}

.containerBlog .cardBlog .overflowText {
  width: 120%;
  overflow: hidden;
  text-overflow: clip;
  font-family: "Poppins";
  font-size: 240px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -3px;
  color: #f4f4f4;
}

.containerBlog .cardBlog p {
  margin-bottom: 100px;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.81;
  letter-spacing: normal;
  text-align: justify;
  color: rgba(44, 63, 88, 0.8);
}

.containerBlog .cardBlog .relative__IMG {
  position: relative;
}

.containerBlog .cardBlog .relative__IMG button {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c3f58;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 233px;
  height: 100px;
  background-color: #ffffff;
  border: none;
}

.containerBlog .cardBlog .relative__IMG button:hover {
  -webkit-box-shadow: 0 0 64px 0 rgba(44, 63, 88, 0.05), 0 0 32px 0 rgba(44, 63, 88, 0.05), 0 16px 16px 0 rgba(44, 63, 88, 0.03), 0 8px 8px 0 rgba(44, 63, 88, 0.03), 0 4px 4px 0 rgba(44, 63, 88, 0.03), 0 2px 2px 0 rgba(44, 63, 88, 0.04);
          box-shadow: 0 0 64px 0 rgba(44, 63, 88, 0.05), 0 0 32px 0 rgba(44, 63, 88, 0.05), 0 16px 16px 0 rgba(44, 63, 88, 0.03), 0 8px 8px 0 rgba(44, 63, 88, 0.03), 0 4px 4px 0 rgba(44, 63, 88, 0.03), 0 2px 2px 0 rgba(44, 63, 88, 0.04);
}

.block-testimonial {
  width: 100%;
  background-color: rgba(244, 244, 244, 0.6);
  height: 750px;
  margin-top: 100px;
}

.block-testimonial .contentTestimonial {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-testimonial .contentTestimonial .titleTestimonials {
  width: 40%;
}

.block-testimonial .contentTestimonial .titleTestimonials h4 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.5px;
  color: #a9acb5;
  margin-top: 100px;
}

.block-testimonial .contentTestimonial .titleTestimonials h2 {
  font-family: "Playfair Display";
  font-size: 64px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: normal;
  color: #2c3f58;
  margin: 0;
}

.block-testimonial .contentTestimonial .titleTestimonials .titleVariant {
  color: #fe5303;
}

.block-testimonial .contentTestimonial .titleTestimonials .button-slider {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  width: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  cursor: pointer;
}

.block-testimonial .contentTestimonial .titleTestimonials .button-slider p {
  font-size: 48px;
  opacity: 0.6;
  margin: 0;
  color: #a9acb5;
}

.block-testimonial .contentTestimonial .titleTestimonials .button-slider button {
  padding: 20px 30px;
  font-size: 20px;
  border: none;
  background: none;
}

.content-comment-testimonials {
  width: 40%;
  margin-top: 50px;
}

.content-comment-testimonials .block-comment {
  margin-top: 50px;
  padding: 30px;
  border-radius: 6px;
  border: solid 1px rgba(169, 172, 181, 0.2);
}

.content-comment-testimonials .block-comment h4 {
  font-family: "Play fair Display";
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.25px;
  color: #2c3f58;
  margin: 10px 0px 10px 0px;
}

.content-comment-testimonials .block-comment p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.81;
  letter-spacing: normal;
  color: rgba(44, 63, 88, 0.8);
}

.content-comment-testimonials .block-comment .user-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-comment-testimonials .block-comment .user-comment .circle-bg {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #f4f4f4;
  z-index: 0;
}

.content-comment-testimonials .block-comment .user-comment .circle-bg .far.fa-user {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #a9acb5;
}

.content-comment-testimonials .block-comment .user-comment .user {
  padding: 10px;
}

.content-comment-testimonials .block-comment .user-comment .user .user-name {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #2c3f58;
  margin: 0;
  padding: 0;
}

.content-comment-testimonials .block-comment .user-comment .user p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.81;
  letter-spacing: normal;
  color: rgba(44, 63, 88, 0.8);
  margin: 0;
  padding: 0;
}

.clientsBg {
  margin-top: -100px;
  z-index: -1;
  display: block;
}

.clientsBg p {
  margin: 0;
  font-family: "Poppins";
  font-size: 350px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.centerBlock {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
}

.containerBandeau {
  width: 70%;
  margin: 0 auto;
  background-color: #fe5303;
  border-radius: 6px;
  margin-top: -125px;
  z-index: 1;
}

.containerBandeau .contentBandeau {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerBandeau .contentBandeau .content-text {
  width: 70%;
}

.containerBandeau .contentBandeau .content-text h2 {
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  color: #ffffff;
}

.containerBandeau .contentBandeau .content-text p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.81;
  letter-spacing: normal;
  color: #ffffff;
  padding-right: 100px;
}

.mainContent h3 {
  font-family: PlayfairDisplay;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #2c3f58;
  width: 55%;
}

.mainContent ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainContent ul li {
  text-align: left;
  list-style: none;
}

.mainContent ul li h4 {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.5px;
  color: #a9acb5;
}

.mainContent ul li p {
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display';
  font-size: 96px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c3f58;
}

header {
  width: 100%;
}

header nav {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  padding: 0 15px;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2c3f58;
}

header nav button {
  border: none;
  padding: 10px 45px;
  border-radius: 15px;
  -webkit-box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
          box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
  background-color: #fe5303;
}

header nav button a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

header .line {
  border: 0.5px solid gray;
  width: 100%;
}

.heroContact {
  width: 100%;
  padding: 30px;
}

.containerContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.containerContact div h4 {
  font-family: "Playfair Display";
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.25px;
  color: #2c3f58;
}

.containerContact div p {
  width: 75%;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: 0.2px;
  color: #72809d;
}

.containerContact div p a {
  text-decoration: underline;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: 0.2px;
  color: #72809d;
}

.map {
  width: 100%;
  height: 65vh;
  position: relative;
}

.map iframe {
  width: 100%;
  height: 100%;
}

.containerBlog .titleSochi .article-meta-post {
  text-align: center;
}

.containerBlog .titleSochi h2 {
  text-align: center;
}

.containerBlog .lineTitle {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  width: 100px;
  height: 2px;
  border: 1px solid #2c3f58;
}

.heroImg {
  width: 100%;
  margin: 0 auto;
}

img {
  width: 100%;
}

.videoContent {
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.videoContent img {
  width: 100%;
  z-index: -1;
}

.videoContent .absolutePlayer .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  /* à 50%/50% du parent référent */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* décalage de 50% de sa propre taille */
}

.videoContent .absolutePlayer .fas.fa-play {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  /* à 50%/50% du parent référent */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* décalage de 50% de sa propre taille */
}

.nextPost {
  width: 75%;
  margin: 0 auto;
  padding: 50px 0 50px 0;
}

.nextPost .titleSochi {
  position: relative;
}

.nextPost .titleSochi .article-meta-post {
  text-align: center;
}

.nextPost .titleSochi h2 {
  text-align: center;
}

.nextPost .line {
  width: 50%;
  margin: 0 auto;
  width: 100px;
  height: 2px;
  border: 1px solid #2c3f58;
}

.nextPost .circle {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
          box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
  background-color: #fe5303;
  border-radius: 50%;
  position: relative;
}

.nextPost .circle .fas.fa-arrow-right {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
}

.blockContentBlog {
  width: 100%;
  position: relative;
}

.contentBlog {
  width: 60%;
  margin: 0 auto;
}

.contentBlog h2 {
  font-family: "Playfair Display";
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #2c3f58;
}

.contentBlog h5 {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
  color: #2c3f58;
}

.contentBlog p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.81;
  letter-spacing: normal;
  color: rgba(44, 63, 88, 0.8);
}

.share {
  position: absolute;
  top: 0;
  left: 0;
}

.share ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.share ul li p {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  margin: 0;
  padding: 0;
}

.share ul li .line {
  height: 25px;
  width: 2px;
  border: 1px solid #cccccc;
}

.share ul li .socialLink .fab {
  color: #a9acb5;
}

.highlitedQuote .quote {
  padding-left: 40px;
  margin: 0;
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  color: #2c3f58;
  position: relative;
}

.highlitedQuote .quote::before {
  content: "\0020";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  height: 80%;
  width: 2px;
  background: #2c3f58;
}

.highlitedQuote p {
  margin: 0;
  padding-left: 40px;
  font-family: "Playfair Display";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  color: #2c3f58;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  padding: 0px 30px 30px 0px;
}

ul li a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #2c3f58;
  position: relative;
}

ul li a:hover {
  color: #fe5303;
}

ul li a:hover::after {
  content: "\0020";
  position: absolute;
  bottom: -10px;
  display: block;
  height: 1px;
  width: 100%;
  background: #fe5303;
}

.gridTemplateEvent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.gridTemplateEvent .gridItem .gridImg {
  position: relative;
}

.gridTemplateEvent .gridItem .gridImg img {
  width: 100%;
}

.gridTemplateEvent .gridItem .gridImg .absoluteText {
  bottom: 0%;
  left: 0%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  position: absolute;
  background-color: white;
  padding: 20px 40px 10px 20px;
}

.gridTemplateEvent .gridItem .gridImg .absoluteText p {
  margin: 0;
  width: 100%;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #2c3f58;
  text-transform: uppercase;
}

.gridTemplateEvent .gridItem .gridImg .absoluteText span {
  text-transform: uppercase;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #a9acb5;
}

.gridTemplateEvent .gridItem p {
  width: 85%;
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.25px;
  color: #2c3f58;
}

.no__padding {
  padding: 0;
}

.no__padding .bgAboutUs {
  background-image: url(../assets/valeriia-bugaiova-_pPHgeHz1uk-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  position: relative;
}

.no__padding .bgAboutUs .hero {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
}

.no__padding .bgAboutUs .hero p {
  margin-top: 150px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.5px;
  color: #ffffff;
}

.no__padding .bgAboutUs .hero h1 {
  margin: 0;
  font-family: "Playfair Display";
  font-size: 80px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: 0.05px;
  color: #ffffff;
}

.no__padding .bgAboutUs a {
  color: white;
}

.no__padding .header-variant nav {
  background: none;
}

.no__padding .header-variant li a {
  color: #2c3f58;
}

.no__padding .blockFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  z-index: 1;
  width: 60%;
  bottom: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
}

.no__padding .blockFlex div {
  width: 20%;
  margin: 0 auto;
}

.no__padding .blockFlex div .titleText {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #2c3f58;
}

.no__padding .blockFlex div p {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #72809d;
}

.no__padding .containerAboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.no__padding .containerAboutUs .titleSochi {
  width: 50%;
  margin-bottom: 100px;
}

.no__padding .containerAboutUs .titleSochi p {
  margin: 0;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.5px;
  color: #a9acb5;
  text-transform: uppercase;
}

.no__padding .containerAboutUs .titleSochi h2 {
  width: 50%;
  margin: 0;
}

.no__padding .containerAboutUs div {
  width: 50%;
}

.no__padding .containerAboutUs div p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.81;
  letter-spacing: normal;
  color: rgba(44, 63, 88, 0.8);
}

.no__padding .sliderAboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.no__padding .sliderAboutUs div {
  width: 80%;
}

.no__padding .sliderAboutUs div img {
  width: 100%;
}

.no__padding .blockAboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.no__padding .blockAboutUs .blockTitle {
  width: 50%;
}

.no__padding .blockAboutUs .blockTitle h3 {
  margin: 0;
  font-family: "Playfair Display";
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #2c3f58;
}

.no__padding .blockText {
  width: 50%;
}

.no__padding .blockText p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.81;
  letter-spacing: normal;
  color: rgba(44, 63, 88, 0.8);
}

.no__padding .blockBreak {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
  margin-top: 30px;
}

.no__padding .blockBreak p {
  margin: 0;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.5px;
  color: #72809d;
}

.no__padding .blockBreak .line {
  width: 5%;
  height: 2px;
  background: black;
}

.no__padding .blockBreak .lineFull {
  width: 95%;
  height: 2px;
  background: #a9acb5;
  opacity: 0.5;
}

.no__padding .videoContentAboutUs {
  width: 100%;
  position: relative;
  margin: 100px 0 100px 0;
}

.no__padding .videoContentAboutUs img {
  width: 100%;
  z-index: -1;
}

.no__padding .videoContentAboutUs .absolutePlayer .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  /* à 50%/50% du parent référent */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* décalage de 50% de sa propre taille */
}

.no__padding .videoContentAboutUs .absolutePlayer .fas.fa-play {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  /* à 50%/50% du parent référent */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* décalage de 50% de sa propre taille */
}

.no__padding .videoContentAboutUs .linkVideoContent {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  width: 30%;
  padding: 10px 50px;
}

.no__padding .videoContentAboutUs .linkVideoContent .titleText {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #2c3f58;
}

.no__padding .videoContentAboutUs .linkVideoContent p {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #72809d;
}

.no__padding .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 50px;
}

.no__padding .gallery .cardItem h3 {
  font-family: "Playfair Display";
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.25px;
  color: #2c3f58;
  margin-left: 20px;
}

.no__padding .gallery .cardItem p {
  font-family: "Poppins";
  font-size: 10px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #a9acb5;
  text-transform: uppercase;
  margin-left: 20px;
}

.no__padding .galleryAboutUs .titleSochi {
  margin-bottom: 50px;
}

.no__padding .galleryAboutUs .titleSochi p {
  margin: 0;
  text-transform: uppercase;
}

.no__padding .galleryAboutUs .titleSochi h2 {
  margin: 0;
}

.no__padding .containerMakeARoom {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}

.no__padding .containerMakeARoom .titleSochi h2 {
  text-align: center;
}

.no__padding .containerMakeARoom .titleSochi p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.no__padding .containerMakeARoom .button {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.no__padding .containerMakeARoom .button .Reservation {
  border: none;
  padding: 10px 45px;
  border-radius: 20px;
  -webkit-box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
          box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
  background-color: #fe5303;
}

.no__padding .containerMakeARoom .button .Reservation a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.no__padding .titleSochi p {
  text-align: left;
  width: 100%;
  margin: 0;
}

.no__padding .titleSochi h2 {
  text-align: left;
  width: 100%;
  margin: 0;
}

.container .titleSochi .article-description {
  width: 38%;
  margin-top: 15px;
}

.fullGallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-row: auto;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullGallery [class^="column-"] {
  display: -ms-grid;
  display: grid;
  row-gap: 30px;
}

.fullGallery [class^="column-"] .galleryItem {
  position: relative;
}

.fullGallery [class^="column-"] .galleryItem img {
  display: block;
  width: 100%;
  height: auto;
}

.fullGallery [class^="column-"] .galleryItem img:hover {
  opacity: 0.3;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.fullGallery [class^="column-"] .galleryItem:hover {
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(42, 43, 48, 0)), to(#2a2b30));
  background: linear-gradient(to bottom, rgba(42, 43, 48, 0), #2a2b30 100%);
  background-size: cover;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.fullGallery [class^="column-"] .galleryItem:hover p {
  z-index: 1;
}

.fullGallery [class^="column-"] .galleryItem .subtitle {
  position: absolute;
  bottom: 50px;
  padding: 10px;
  z-index: -1;
  font-family: 'Playfair Display';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.25px;
  color: #ffffff;
}

.fullGallery [class^="column-"] .galleryItem p {
  position: absolute;
  bottom: 0;
  padding: 10px;
  z-index: -1;
  font-family: 'Playfair Display';
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.25px;
  color: #ffffff;
}

.container-image {
  position: relative;
}

.container-image .absoluteTextHero {
  bottom: 0%;
  left: 0%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  position: absolute;
  background-color: white;
  height: 140px;
  padding: 10px 60px 10px 20px;
  width: 400px;
}

.container-image .absoluteTextHero h3 {
  margin: 10px 0px 15px 0px;
  width: 100%;
  font-family: "Playfair Display";
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #2c3f58;
}

.container-image .absoluteTextHero p {
  margin: 0;
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: normal;
  color: #2c3f58;
}

.container-image .absoluteTextHero p span {
  padding: 5px;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c3f58;
}

.gridTemplateRoom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  margin-top: 100px;
}

.gridTemplateRoom .gridItem:hover {
  border-radius: 6px;
  -webkit-box-shadow: 0 24px 64px 0 rgba(44, 63, 88, 0.06), 0 1px 0 0 rgba(44, 63, 88, 0.02);
          box-shadow: 0 24px 64px 0 rgba(44, 63, 88, 0.06), 0 1px 0 0 rgba(44, 63, 88, 0.02);
}

.gridTemplateRoom .gridItem .gridImg {
  position: relative;
}

.gridTemplateRoom .gridItem .gridImg img {
  width: 100%;
}

.gridTemplateRoom .gridItem .gridImg .absoluteText {
  bottom: 0%;
  left: 0%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  position: absolute;
  padding: 20px;
}

.gridTemplateRoom .gridItem .gridImg .absoluteText h5 {
  margin: 0px;
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.25px;
  color: #ffffff;
}

.gridTemplateRoom .gridItem .gridImg .absoluteText p {
  margin: 0;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #ffffff;
}

.gridTemplateRoom .gridItem .gridImg .absoluteText p span {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.gridTemplateRoom .gridItem .gridImg p {
  width: 85%;
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.25px;
  color: #2c3f58;
}

.gridTemplateRoom .gridItem .gridFooter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.gridTemplateRoom .gridItem .gridFooter .gridItemFooterCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

.gridTemplateRoom .gridItem .gridFooter .gridItemFooterCard .gridIMG {
  width: 20%;
}

.gridTemplateRoom .gridItem .gridFooter .gridItemFooterCard .gridIMG img {
  max-width: 100%;
}

.gridTemplateRoom .gridItem .gridFooter .gridItemFooterCard .gridText {
  padding-left: 10px;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #72809d;
}

.heroDetails {
  width: 50%;
  margin: 0 auto;
  padding-top: 100px;
  z-index: 12;
  text-align: center;
}

.heroDetails p {
  margin-top: 150px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.5px;
  color: #ffffff;
}

.heroDetails h1 {
  margin: 0;
  font-family: "Playfair Display";
  font-size: 80px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: 0.05px;
  color: #ffffff;
}

a {
  color: white;
}

.blockFlex-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  z-index: 1;
  width: 60%;
  bottom: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blockFlex-details .img-blockFlex {
  text-align: right;
  padding: 10px;
}

.blockFlex-details .img-blockFlex img {
  width: 100%;
}

.blockFlex-details .line-blockFlex {
  width: 20px;
  height: 1px;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  opacity: 0.3;
  background-color: #a9acb5;
}

.blockFlex-details .titleText {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #2c3f58;
}

.blockFlex-details p {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #72809d;
}

.grid-detailsContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  width: 80%;
  margin: 0 auto;
  gap: 0 20px;
}

.grid-detailsContent h3 {
  font-family: "Play fair Display";
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #2c3f58;
}

.grid-detailsContent p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.81;
  letter-spacing: normal;
  color: rgba(44, 63, 88, 0.8);
}

.map-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.grid-list-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

.grid-list-items .item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid-list-items .item-content img {
  margin-right: 10px;
  width: 10%;
}

.slider-img {
  margin-top: 100px;
  margin-bottom: 50px;
}

.list-review {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 50px;
}

.list-review .grid-item-review .flex-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.list-review .grid-item-review .flex-block .title-rating {
  text-align: left;
  width: 50%;
}

.list-review .grid-item-review .flex-block .rate-review {
  text-align: right;
  width: 50%;
}

.list-review .progressbar-review-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.list-review .progressbar-review-content .progressbar-orange {
  width: 75%;
  height: 2px;
  border-radius: 2px;
  background-color: #fe5303;
}

.list-review .progressbar-review-content .progressbar-gray {
  width: 25%;
  height: 2px;
  border-radius: 2px;
  background-color: #f4f4f4;
}

.list-review .progressbar-review-content .progressbar-orange-1 {
  width: 63%;
  height: 2px;
  border-radius: 2px;
  background-color: #fe5303;
}

.list-review .progressbar-review-content .progressbar-gray-1 {
  width: 27%;
  height: 2px;
  border-radius: 2px;
  background-color: #f4f4f4;
}

.list-review .progressbar-review-content .progressbar-orange-2 {
  width: 86%;
  height: 2px;
  border-radius: 2px;
  background-color: #fe5303;
}

.list-review .progressbar-review-content .progressbar-gray-2 {
  width: 14%;
  height: 2px;
  border-radius: 2px;
  background-color: #f4f4f4;
}

.list-review .progressbar-review-content .progressbar-orange-3 {
  width: 58%;
  height: 2px;
  border-radius: 2px;
  background-color: #fe5303;
}

.list-review .progressbar-review-content .progressbar-gray-3 {
  width: 42%;
  height: 2px;
  border-radius: 2px;
  background-color: #f4f4f4;
}

.list-review .progressbar-review-content .progressbar-orange-4 {
  width: 92%;
  height: 2px;
  border-radius: 2px;
  background-color: #fe5303;
}

.list-review .progressbar-review-content .progressbar-gray-4 {
  width: 8%;
  height: 2px;
  border-radius: 2px;
  background-color: #f4f4f4;
}

.list-review .progressbar-review-content .progressbar-orange-5 {
  width: 76%;
  height: 2px;
  border-radius: 2px;
  background-color: #fe5303;
}

.list-review .progressbar-review-content .progressbar-gray-5 {
  width: 24%;
  height: 2px;
  border-radius: 2px;
  background-color: #f4f4f4;
}

.content-comment .block-comment {
  margin-top: 50px;
  padding: 30px;
  border-radius: 6px;
  border: solid 1px rgba(169, 172, 181, 0.2);
}

.content-comment .block-comment h4 {
  font-family: "Play fair Display";
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.25px;
  color: #2c3f58;
  margin: 10px 0px 10px 0px;
}

.content-comment .block-comment p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.81;
  letter-spacing: normal;
  color: rgba(44, 63, 88, 0.8);
}

.content-comment .block-comment .user-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-comment .block-comment .user-comment .circle-bg {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #f4f4f4;
  z-index: 0;
}

.content-comment .block-comment .user-comment .circle-bg .far.fa-user {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #a9acb5;
}

.content-comment .block-comment .user-comment .user {
  padding: 10px;
}

.content-comment .block-comment .user-comment .user .user-name {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #2c3f58;
  margin: 0;
  padding: 0;
}

.content-comment .block-comment .user-comment .user p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.81;
  letter-spacing: normal;
  color: rgba(44, 63, 88, 0.8);
  margin: 0;
  padding: 0;
}

.footer-detailsRoom {
  margin-top: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 10%;
      grid-template-columns: 10% 1fr 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-detailsRoom .number-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-detailsRoom .number-list .number {
  padding: 10px;
}

.footer-detailsRoom .number-list .number a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #72809d;
}

.footer-detailsRoom .number-list .number a:hover {
  color: #fe5303;
}

.footer-detailsRoom .fas.fa-arrow-left {
  border-radius: 50%;
  padding: 10px;
  color: rgba(56, 61, 70, 0.2);
}

.footer-detailsRoom .fas.fa-arrow-left:hover {
  -webkit-box-shadow: 0 0 64px 0 rgba(44, 63, 88, 0.05), 0 0 32px 0 rgba(44, 63, 88, 0.05), 0 16px 16px 0 rgba(44, 63, 88, 0.03), 0 8px 8px 0 rgba(44, 63, 88, 0.03), 0 4px 4px 0 rgba(44, 63, 88, 0.03), 0 2px 2px 0 rgba(44, 63, 88, 0.04);
          box-shadow: 0 0 64px 0 rgba(44, 63, 88, 0.05), 0 0 32px 0 rgba(44, 63, 88, 0.05), 0 16px 16px 0 rgba(44, 63, 88, 0.03), 0 8px 8px 0 rgba(44, 63, 88, 0.03), 0 4px 4px 0 rgba(44, 63, 88, 0.03), 0 2px 2px 0 rgba(44, 63, 88, 0.04);
  background-color: #ffffff;
  border: none;
  color: black;
}

.footer-detailsRoom .arrow-right {
  text-align: right;
}

.footer-detailsRoom .arrow-right .fas.fa-arrow-right {
  border-radius: 50%;
  padding: 10px;
  color: rgba(56, 61, 70, 0.2);
}

.footer-detailsRoom .arrow-right .fas.fa-arrow-right:hover {
  -webkit-box-shadow: 0 0 64px 0 rgba(44, 63, 88, 0.05), 0 0 32px 0 rgba(44, 63, 88, 0.05), 0 16px 16px 0 rgba(44, 63, 88, 0.03), 0 8px 8px 0 rgba(44, 63, 88, 0.03), 0 4px 4px 0 rgba(44, 63, 88, 0.03), 0 2px 2px 0 rgba(44, 63, 88, 0.04);
          box-shadow: 0 0 64px 0 rgba(44, 63, 88, 0.05), 0 0 32px 0 rgba(44, 63, 88, 0.05), 0 16px 16px 0 rgba(44, 63, 88, 0.03), 0 8px 8px 0 rgba(44, 63, 88, 0.03), 0 4px 4px 0 rgba(44, 63, 88, 0.03), 0 2px 2px 0 rgba(44, 63, 88, 0.04);
  background-color: #ffffff;
  border: none;
  color: black;
}

.ErrorVariant nav {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 12;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
}

.ErrorVariant nav .logoHeader {
  width: 20%;
  margin-right: auto;
}

.ErrorVariant nav .logoHeader .logo-max-width {
  width: 150px;
}

.ErrorVariant nav .logoHeader .logo-max-width img {
  width: 100%;
}

.ErrorVariant nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ErrorVariant nav ul li {
  padding: 0 15px;
  list-style: none;
}

.ErrorVariant nav ul li a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2c3f58;
}

.ErrorVariant nav .btn-reservation {
  width: 20%;
  margin-left: auto;
}

.ErrorVariant nav .btn-reservation button {
  border: none;
  padding: 10px 45px;
  border-radius: 32px;
  -webkit-box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
          box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
  background-color: #fe5303;
}

.ErrorVariant nav .btn-reservation button a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.fullImg {
  position: relative;
  width: 100%;
}

.contentError {
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contentError p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.contentError .contentBtn {
  width: 30%;
  margin: 0 auto;
}

.contentError .contentBtn .btn-backHome {
  width: 275px;
  height: 50px;
  border-radius: 24px;
  border: solid 3px rgba(255, 255, 255, 0.2);
  position: relative;
  cursor: pointer;
}

.contentError .contentBtn .btn-backHome a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.absoluteFooter {
  position: absolute;
  width: 100%;
  bottom: 0;
  -webkit-transform: translate(0%);
          transform: translate(0%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid #a9acb5;
}

.absoluteFooter .footerItem1 {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.absoluteFooter .line {
  width: 75px;
  height: 2px;
  border: 1px solid #ffffff;
}

.absoluteFooter p {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.linkSocialMediaWhite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.linkSocialMediaWhite .socialLink {
  padding: 20px;
}

.linkSocialMediaWhite .socialLink .fab.fa-facebook-square {
  color: #ffffff;
}

.linkSocialMediaWhite .socialLink .fab.fa-twitter {
  color: #ffffff;
}

.linkSocialMediaWhite .socialLink .fab.fa-instagram {
  color: #ffffff;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  max-width: 1980px;
  padding-top: 100px;
}

.body {
  width: 100%;
  max-width: 1980px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */