//components
@import "components/mq";
@import "components/grid";
@import "components/header";
@import "components/rooms";
@import "components/form";
@import "components/titleSochi";
@import "components/buttons";
// layout
@import "layout/nav";
@import "layout/footer";
// pages
@import "pages/container";
@import "pages/containerStats";
@import "pages/containerReview";
@import "pages/containerPost";
@import "pages/blogEvent";
@import "pages/containerAboutUs";
@import "pages/gallery";
@import "pages/room";
@import "pages/detailsRoom";
@import "pages/404";
*,
*::before,
*::after {box-sizing: border-box;}
body {
    margin: 0;
    width: 100%;
    max-width: 1980px;
    padding-top: 100px;
  }
  .body {
    width: 100%;
    max-width: 1980px;
    margin: 0 auto;
  }
  