.ErrorVariant {
    nav {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 12;
        padding: 15px;
        display: flex;
        align-items: center;
        background: none;
        .logoHeader {
            width: 20%;
            margin-right: auto;
            .logo-max-width {
                width: 150px;
                img {
                    width: 100%;
                }
            }
        }
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                padding: 0 15px;
                list-style: none;
                a {
                    text-decoration: none;
                    font-family: "Poppins";
                    font-size: 16px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;
                    color: #2c3f58;
                }
            }
        }
        .btn-reservation {
            width: 20%;
            margin-left: auto;
            button {
                border: none;
                padding: 10px 45px;
                border-radius: 32px;
                box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
                background-color: #fe5303;
                a {
                    text-decoration: none;
                    font-family: "Poppins";
                    font-size: 16px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
    }
}

.fullImg {
    position: relative;
    width: 100%;
}
.contentError {
    width: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    p {
        font-family: "Poppins";
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    .contentBtn{
        width: 30%;
        margin: 0 auto;
        .btn-backHome {
            width: 275px;
            height: 50px;
            border-radius: 24px;
            border: solid 3px rgba(255, 255, 255, 0.2);
            position: relative;
            cursor: pointer;
            a {
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                text-decoration: none;
                font-family: "Poppins";
                font-size: 16px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #ffffff;
            }
        }
    }
}
.absoluteFooter {
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translate(-0%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1px solid #a9acb5;
    .footerItem1 {
        justify-content: space-around;
        display: flex;
        align-items: center;
        grid-column: 1/2;
    }
    .line {
        width: 75px;
        height: 2px;
        border: 1px solid #ffffff;
    }
    p {
        font-family: "Poppins";
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
    }
}
.linkSocialMediaWhite {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column: 3/4;

    .socialLink {
        padding: 20px;
        .fab.fa-facebook-square {
            color: #ffffff;
        }
        .fab.fa-twitter {
            color: #ffffff;
        }
        .fab.fa-instagram {
            color: #ffffff;
        }
    }
}
