ul {
    display: flex;
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        padding: 0px 30px 30px 0px;
        a {
            text-decoration: none;
            font-family: "Poppins";
            font-size: 16px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.1px;
            color: #2c3f58;
            position: relative;
            &:hover {
                color: #fe5303;
                &::after {
                    content: "\0020";
                    position: absolute;
                    bottom: -10px;
                    display: block;
                    height: 1px;
                    width: 100%;
                    background: #fe5303;
                }
            }
        }
    }
}
.gridTemplateEvent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    .gridItem {
        .gridImg {
            position: relative;
            img {
                width: 100%;
            }
            .absoluteText {
                bottom: 0%;
                left: 0%;
                transform: translate(0%, 0%);
                position: absolute;
                background-color: white;
                padding: 20px 40px 10px 20px;
                p {
                    margin: 0;
                    width: 100%;
                    font-family: "Poppins";
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 1px;
                    color: #2c3f58;
                    text-transform: uppercase;
                }
                span {
                    text-transform: uppercase;
                    font-family: "Poppins";
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 1px;
                    color: #a9acb5;
                }
            }
        }
        p {
            width: 85%;
            font-family: "Playfair Display";
            font-size: 24px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: 0.25px;
            color: #2c3f58;
        }
    }
}

