.no__padding {
    padding: 0;
    .bgAboutUs {
        background-image: url(../assets/valeriia-bugaiova-_pPHgeHz1uk-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
        position: relative;

        .hero {
            width: 80%;
            margin: 0 auto;
            padding-top:100px;
            p {
                margin-top: 150px;
                font-family: "Poppins";
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 2.5px;
                color: #ffffff;
            }
            h1 {
                margin: 0;
                font-family: "Playfair Display";
                font-size: 80px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.15;
                letter-spacing: 0.05px;
                color: #ffffff;
            }
        }
        a {
            color: white;

        }
    }
    .header-variant {
        nav{
            background:none;
            
        }
        li{
            a{
                color: #2c3f58;
            }
        }
    }
    .blockFlex {
        display: flex;
        background-color: #ffffff;
        z-index: 1;
        width: 60%;
        bottom: 20%;
        align-items: center;
        position: absolute;
        bottom: 0;
        div {
            width: 20%;
            margin: 0 auto;
            .titleText {
                font-family: "Poppins";
                font-size: 18px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 0.4px;
                color: #2c3f58;
            }
            p {
                font-family: "Poppins";
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #72809d;
            }
        }
    }

    .containerAboutUs {
        display: flex;
        align-items: center;
        margin-top: 100px;
        .titleSochi {
            width: 50%;
            margin-bottom: 100px;
            p {
                margin: 0;
                font-family: 'Poppins';
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 2.5px;
                color: #a9acb5;
                text-transform: uppercase;
            }
            h2 {
                width: 50%;
                margin: 0;
            }
        }
        div {
            width: 50%;
            p {
                font-family: "Poppins";
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.81;
                letter-spacing: normal;
                color: rgba(44, 63, 88, 0.8);
            }
        }
    }
    .sliderAboutUs {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        div {
            width: 80%;
            img {
                width: 100%;
            }
        }
    }
    .blockAboutUs {
        display: flex;
        justify-content: center;
        .blockTitle {
            width: 50%;
            h3 {
                margin: 0;
                font-family: "Playfair Display";
                font-size: 32px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.25;
                letter-spacing: normal;
                color: #2c3f58;
            }
        }
    }
    .blockText {
        width: 50%;
        p {
            font-family: "Poppins";
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.81;
            letter-spacing: normal;
            color: rgba(44, 63, 88, 0.8);
        }
    }
    .blockBreak {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
        margin-top: 30px;
        p {
            margin: 0;
            font-family: "Poppins";
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 2.5px;
            color: #72809d;
        }
        .line {
            width: 5%;
            height: 2px;
            background: black;
        }
        .lineFull {
            width: 95%;
            height: 2px;
            background: #a9acb5;
            opacity: 0.5;
        }
    }
    .videoContentAboutUs {
        width: 100%;
        position: relative;
        margin: 100px 0 100px 0;
        img {
            width: 100%;
            z-index: -1;
        }
        .absolutePlayer {
            .circle {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: white;
                position: absolute;
                z-index: 0;
                top: 50%;
                left: 50%; /* à 50%/50% du parent référent */
                transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
            }
            .fas.fa-play {
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%; /* à 50%/50% du parent référent */
                transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
            }
        }
        .linkVideoContent {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: #ffffff;
            width: 30%;
            padding: 10px 50px;
            .titleText {
                font-family: "Poppins";
                font-size: 18px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 0.4px;
                color: #2c3f58;
            }
            p {
                font-family: "Poppins";
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #72809d;
            }
        }
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 50px;
        .cardItem {
            h3 {
                font-family: "Playfair Display";
                font-size: 18px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.25;
                letter-spacing: 0.25px;
                color: #2c3f58;
                margin-left: 20px;
            }
            p {
                font-family: "Poppins";
                font-size: 10px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 1px;
                color: #a9acb5;
                text-transform: uppercase;
                margin-left: 20px;
            }
        }
    }
    .galleryAboutUs {
        .titleSochi {
            margin-bottom: 50px;
            p {
                margin: 0;
                text-transform: uppercase;
            }
            h2 {
                margin: 0;
            }
        }
    }
    .containerMakeARoom {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        margin-top: 100px;
        .titleSochi {
            h2 {
                text-align: center;
            }
            p {
                width: 80%;
                margin: 0 auto;
                text-align: center;
            }
        }
        .button {
            width: 50%;
            margin: 0 auto;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;

            .Reservation {
                border: none;
                padding: 10px 45px;
                border-radius: 20px;
                box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
                background-color: #fe5303;

                a {
                    text-decoration: none;
                    font-family: "Poppins";
                    font-size: 16px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
    }
    .titleSochi {
        p {
            text-align: left;
            width: 100%;
            margin: 0;
        }
        h2 {
            text-align: left;
            width: 100%;
            margin: 0;
        }
    }
}
