.heroHome {
    width: 80%;
    margin: 0 auto;
    padding-top:100px;
    p {
        font-family: "Poppins";
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2.5px;
        color: #ffffff;
    }
    h1 {
        margin: 0;
        font-family: "Playfair Display";
        font-size: 80px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.15;
        letter-spacing: 0.05px;
        color: #ffffff;
    }
    .btn-adventure {
        display: flex;
        align-items: center;
        .videoPlayer {
            padding: 20px;
            .borderCircle {
                width: 75px;
                height: 75px;
                border-radius: 50%;
                border: 0.5px solid #ffffff;

                position: relative;
                .circleVideoPlayer {
                    position: absolute;
                    top: 50%;
                    left: 50%; /* à 50%/50% du parent référent */
                    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: white;
                    z-index: 0;
                }
                .fas.fa-play {
                    position: absolute;
                    z-index: 1;
                    top: 50%;
                    left: 50%; /* à 50%/50% du parent référent */
                    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
                }
            }
        }
    }
}
.mainContent {
    width: 80%;
    margin: 0 auto;
    .containerStatsHome{
        margin-top:100px;
        ul{
            li{
                p{
                    font-family: 'Playfair Display';
                    font-size: 96px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #2c3f58;
                }
            }
        }
    }
    h4 {
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2.5px;
        color: #a9acb5;
        margin-top: 100px;
    }
    h2 {
        font-family: "Playfair Display";
        font-size: 64px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.16;
        letter-spacing: normal;
        color: #2c3f58;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    h3 {
        font-family: "Playfair Display";
        font-size: 32px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: #2c3f58;
    }
}

.containerTitle {
    display: flex;
    align-items: center;
    .titleRooms{
        width:85%;
    }
    .linkRooms {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            font-family: "Poppins", sans-serif;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.2px;
            color: #fe5303;
            text-decoration: none;
        }
        .lineLinkRoom{
            margin-left: 10px;
            width: 60px;
            height: 1px;
            background-color: #fe5303;
        }
    }
}
.containerBlog {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    .gutter {
        padding: 50px;
    }
    .cardBlog {
        height: auto;
        width: 50%;
        .overflowText {
            width: 120%;
            overflow: hidden;
            text-overflow: clip;
            font-family: "Poppins";
            font-size: 240px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -3px;
            color: #f4f4f4;
        }
        p {
            margin-bottom: 100px;
            font-family: "Poppins";
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.81;
            letter-spacing: normal;
            text-align: justify;
            color: rgba(44, 63, 88, 0.8);
        }
        .relative__IMG {
            position: relative;
            button {
                font-family: "Poppins";
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #2c3f58;
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 1;
                width: 233px;
                height: 100px;
                background-color: #ffffff;
                border: none;
                &:hover {
                    box-shadow: 0 0 64px 0 rgba(44, 63, 88, 0.05), 0 0 32px 0 rgba(44, 63, 88, 0.05),
                        0 16px 16px 0 rgba(44, 63, 88, 0.03), 0 8px 8px 0 rgba(44, 63, 88, 0.03),
                        0 4px 4px 0 rgba(44, 63, 88, 0.03), 0 2px 2px 0 rgba(44, 63, 88, 0.04);
                }
            }
        }
    }
}
.block-testimonial {
    width: 100%;
    background-color: rgba(244, 244, 244, 0.6);
    height: 750px;
    margin-top:100px;
    .contentTestimonial {
        width: 80%;
        margin: 0 auto;
        display: flex;
        .titleTestimonials {
            width: 40%;
            h4 {
                font-family: 'Poppins', sans-serif;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 2.5px;
                color: #a9acb5;
                margin-top: 100px;
            }
            h2 {
                font-family: "Playfair Display";
                font-size: 64px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.16;
                letter-spacing: normal;
                color: #2c3f58;
                margin: 0;
            }
            .titleVariant {
                color: #fe5303;
            }
            .button-slider {
                margin-top: 100px;
                display: flex;
                background-color: #ffffff;
                width: 30%;
                align-items: center;
                justify-content: center;
                z-index: 1;
                cursor: pointer;
                p {
                    font-size: 48px;
                    opacity: 0.6;
                    margin: 0;
                    color: #a9acb5;
                }
                button {
                    padding: 20px 30px;
                    font-size: 20px;
                    border: none;
                    background: none;
                }
            }
        }
    }
}
.content-comment-testimonials {
    width: 40%;
    margin-top: 50px;
    .block-comment {
        margin-top: 50px;
        padding: 30px;
        border-radius: 6px;
        border: solid 1px rgba(169, 172, 181, 0.2);
        h4 {
            font-family: "Play fair Display";
            font-size: 24px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: 0.25px;
            color: #2c3f58;
            margin: 10px 0px 10px 0px;
        }
        p {
            font-family: "Poppins";
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.81;
            letter-spacing: normal;
            color: rgba(44, 63, 88, 0.8);
        }
        .user-comment {
            display: flex;
            align-items: center;
            .circle-bg {
                position: relative;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                background-color: #f4f4f4;
                z-index: 0;
                .far.fa-user {
                    position: absolute;
                    z-index: 1;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    color: #a9acb5;
                }
            }
            .user {
                padding: 10px;
                .user-name {
                    font-family: "Poppins";
                    font-size: 16px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.2px;
                    color: #2c3f58;
                    margin: 0;
                    padding: 0;
                }
                p {
                    font-family: "Poppins";
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.81;
                    letter-spacing: normal;
                    color: rgba(44, 63, 88, 0.8);
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}
.clientsBg {
    margin-top: -100px;
    z-index: -1;
    display: block;
    p {
        margin: 0;
        font-family: "Poppins";
        font-size: 350px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
}
.centerBlock {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
}
.containerBandeau {
    width: 70%;
    margin: 0 auto;
    background-color: #fe5303;
    border-radius: 6px;
    margin-top: -125px;
    z-index: 1;
    .contentBandeau {
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        .content-text {
            width: 70%;
            h2 {
                font-family: "Playfair Display";
                font-size: 48px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.15;
                letter-spacing: normal;
                color: #ffffff;
            }
            p {
                font-family: "Poppins";
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.81;
                letter-spacing: normal;
                color: #ffffff;
                padding-right: 100px;
            }
        }
    }
}
