header {
    width: 100%;
    nav {
        padding: 15px;
        display: flex;
        align-items: center;
        img {
            object-fit: contain;
            width: 100%;
        }
        ul {
            display: flex;
            width: 100%;
            justify-content: center;

            align-items: center;
            li {
                padding: 0 15px;
                list-style: none;
                a {
                    text-decoration: none;
                    font-family: "Poppins";
                    font-size: 16px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;
                    color: #2c3f58;
                }
            }
        }
        button {
            border: none;
            padding: 10px 45px;
            border-radius: 15px;
            box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
            background-color: #fe5303;
            a {
                text-decoration: none;
                font-family: "Poppins";
                font-size: 16px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #ffffff;
            }
        }
    }
    .line {
        border: 0.5px solid gray;
        width: 100%;
    }
}
.heroContact {
    width: 100%;
    padding: 30px;
}
.containerContact {
    display: flex;
    width:100%;
    justify-content: space-between;
    div {
        h4 {
            font-family: "Playfair Display";
            font-size: 26px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: 0.25px;
            color: #2c3f58;
        }
        p {
            width: 75%;
            font-family: "Poppins";
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.88;
            letter-spacing: 0.2px;
            color: #72809d;
            a{
                text-decoration: underline;
                font-family: "Poppins";
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.88;
                letter-spacing: 0.2px;
                color: #72809d;
            }
        }
    }
}

.map {
    
    width: 100%;
    height: 65vh;
    position: relative;
    iframe{
        width: 100%;
        height: 100%;
    }
}
