.mainContent {
    h3 {
        font-family: PlayfairDisplay;
        font-size: 32px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: #2c3f58;
        width: 55%;
    }
    ul {
        padding: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        li {
            text-align: left;
            list-style: none;
            h4 {
                padding: 0;
                margin: 0;
                font-family: "Poppins";
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 2.5px;
                color: #a9acb5;
            }
            p {
                padding: 0;
                margin: 0;
                font-family: 'Playfair Display';
                font-size: 96px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #2c3f58;
            }
        }
    }
}
