.containerBlog {
    .titleSochi {
        .article-meta-post {
            text-align: center;
        }
        h2 {
            text-align: center;
        }
    }
    .lineTitle {
        width: 50%;
        margin: 0 auto;
        margin-top: 50px;
        width: 100px;
        height: 2px;
        border: 1px solid #2c3f58;
    }
}
.heroImg {
    width: 100%;
    margin: 0 auto;
}
img {
    width: 100%;
}
.videoContent {
    width: 70%;
    margin: 0 auto;
    position: relative;
    img {
        width: 100%;
        z-index: -1;
    }
    .absolutePlayer {
        .circle {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: white;
            position: absolute;
            z-index: 0;
            top: 50%;
            left: 50%; /* à 50%/50% du parent référent */
            transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
        }
        .fas.fa-play {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%; /* à 50%/50% du parent référent */
            transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
        }
    }
}
.nextPost {
    width: 75%;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    .titleSochi {
        position: relative;

        .article-meta-post {
            text-align: center;
        }
        h2 {
            text-align: center;
        }
    }
    .line {
        width: 50%;
        margin: 0 auto;
        width: 100px;
        height: 2px;
        border: 1px solid #2c3f58;
    }
    .circle {
        margin: 0 auto;
        width: 50px;
        height: 50px;
        box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
        background-color: #fe5303;
        border-radius: 50%;
        position: relative;
        .fas.fa-arrow-right {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffffff;
        }
    }
}
.blockContentBlog {
    width: 100%;
    position: relative;
}

.contentBlog {
    width: 60%;
    margin: 0 auto;
    h2 {
        font-family: "Playfair Display";
        font-size: 32px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: #2c3f58;
    }
    h5 {
        font-family: "Poppins";
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.8;
        letter-spacing: normal;
        color: #2c3f58;
    }
    p {
        font-family: "Poppins";
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.81;
        letter-spacing: normal;
        color: rgba(44, 63, 88, 0.8);
    }
}
.share {
    position: absolute;
    top: 0;
    left: 0;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        li {
            p {
                transform: rotate(270deg);
                //transform-origin: 0 0;
                margin: 0;
                padding: 0;
            }
            .line {
                height: 25px;
                width: 2px;
                border: 1px solid #cccccc;
            }
            .socialLink{
                .fab{
                    color: #a9acb5;
                }
            }
        }
    }
}
.highlitedQuote {
    .quote {
        padding-left: 40px;
        margin: 0;
        font-family: "Playfair Display";
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.79;
        letter-spacing: normal;
        color: #2c3f58;
        position: relative;

        &::before {
            content: "\0020";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: block;
            height: 80%;
            width: 2px;
            background: #2c3f58;
        }
    }
    p {
        margin: 0;
        padding-left: 40px;
        font-family: "Playfair Display";
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.79;
        letter-spacing: normal;
        color: #2c3f58;
    }
}
