.heroDetails {
    width: 50%;
    margin: 0 auto;
    padding-top:100px;
    z-index: 12;
    text-align: center;
    p {
        margin-top: 150px;
        font-family: "Poppins";
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2.5px;
        color: #ffffff;
    }
    h1 {
        margin: 0;
        font-family: "Playfair Display";
        font-size: 80px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.15;
        letter-spacing: 0.05px;
        color: #ffffff;
    }
}
a {
    color: white;

}
.blockFlex-details {
    display: flex;
    background-color: #ffffff;
    z-index: 1;
    width: 60%;
    bottom: 20%;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 20px;
    justify-content: space-between;
    .img-blockFlex {
        text-align: right;
        padding: 10px;
        img {
            width: 100%;
        }
    }
    .line-blockFlex {
        width: 20px;
        height: 1px;
        transform: rotate(120deg);
        opacity: 0.3;
        background-color: #a9acb5;
    }
    .titleText {
        font-family: "Poppins";
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        color: #2c3f58;
    }
    p {
        font-family: "Poppins";
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #72809d;
    }
}

//content

.grid-detailsContent {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 80%;
    margin: 0 auto;
    gap: 0 20px;
    h3 {
        font-family: "Play fair Display";
        font-size: 32px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: #2c3f58;
    }
    p {
        font-family: "Poppins";
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.81;
        letter-spacing: normal;
        color: rgba(44, 63, 88, 0.8);
    }
    
    
}

.map-details{
    display: flex;
    align-items: center;
    width:100%;
}
.grid-list-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    .item-content {
        display: flex;

        img {
            margin-right: 10px;
            width: 10%;
        }
    }
}
.slider-img {
    margin-top: 100px;
    margin-bottom: 50px;
}
.list-review {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 50px;
    .grid-item-review {
        .flex-block {
            display: flex;
            width: 100%;
            .title-rating {
                text-align: left;
                width: 50%;
            }
            .rate-review {
                text-align: right;
                width: 50%;
            }
        }
    }
    .progressbar-review-content {
        display: flex;
        width: 100%;
        .progressbar-orange {
            width: 75%;
            height: 2px;
            border-radius: 2px;
            background-color: #fe5303;
        }
        .progressbar-gray {
            width: 25%;
            height: 2px;
            border-radius: 2px;
            background-color: #f4f4f4;
        }
        .progressbar-orange-1 {
            width: 63%;
            height: 2px;
            border-radius: 2px;
            background-color: #fe5303;
        }
        .progressbar-gray-1 {
            width: 27%;
            height: 2px;
            border-radius: 2px;
            background-color: #f4f4f4;
        }
        .progressbar-orange-2 {
            width: 86%;
            height: 2px;
            border-radius: 2px;
            background-color: #fe5303;
        }
        .progressbar-gray-2 {
            width: 14%;
            height: 2px;
            border-radius: 2px;
            background-color: #f4f4f4;
        }
        .progressbar-orange-3 {
            width: 58%;
            height: 2px;
            border-radius: 2px;
            background-color: #fe5303;
        }
        .progressbar-gray-3 {
            width: 42%;
            height: 2px;
            border-radius: 2px;
            background-color: #f4f4f4;
        }
        .progressbar-orange-4 {
            width: 92%;
            height: 2px;
            border-radius: 2px;
            background-color: #fe5303;
        }
        .progressbar-gray-4 {
            width: 8%;
            height: 2px;
            border-radius: 2px;
            background-color: #f4f4f4;
        }
        .progressbar-orange-5 {
            width: 76%;
            height: 2px;
            border-radius: 2px;
            background-color: #fe5303;
        }
        .progressbar-gray-5 {
            width: 24%;
            height: 2px;
            border-radius: 2px;
            background-color: #f4f4f4;
        }
    }
}
.content-comment {
    .block-comment {
        margin-top: 50px;
        padding: 30px;
        border-radius: 6px;
        border: solid 1px rgba(169, 172, 181, 0.2);
        h4 {
            font-family: "Play fair Display";
            font-size: 24px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: 0.25px;
            color: #2c3f58;
            margin: 10px 0px 10px 0px;
        }
        p {
            font-family: "Poppins";
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.81;
            letter-spacing: normal;
            color: rgba(44, 63, 88, 0.8);
        }
        .user-comment {
            display: flex;
            align-items: center;
            .circle-bg {
                position: relative;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                background-color: #f4f4f4;
                z-index: 0;
                .far.fa-user {
                    position: absolute;
                    z-index: 1;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    color: #a9acb5;
                }
            }
            .user {
                padding: 10px;
                .user-name {
                    font-family: "Poppins";
                    font-size: 16px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.2px;
                    color: #2c3f58;
                    margin: 0;
                    padding: 0;
                }
                p {
                    font-family: "Poppins";
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.81;
                    letter-spacing: normal;
                    color: rgba(44, 63, 88, 0.8);
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}
.footer-detailsRoom {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    align-items: center;
    justify-content: center;
    .number-list {
        display: flex;
        justify-content: center;
        align-items: center;
        .number {
            padding: 10px;
            a {
                text-decoration: none;
                font-family: "Poppins";
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #72809d;
                &:hover {
                    color: #fe5303;
                }
            }
        }
    }
    .fas.fa-arrow-left {
        border-radius: 50%;
        padding: 10px;
        color: rgba(56, 61, 70, 0.2);
        &:hover {
            box-shadow: 0 0 64px 0 rgba(44, 63, 88, 0.05), 0 0 32px 0 rgba(44, 63, 88, 0.05),
                0 16px 16px 0 rgba(44, 63, 88, 0.03), 0 8px 8px 0 rgba(44, 63, 88, 0.03),
                0 4px 4px 0 rgba(44, 63, 88, 0.03), 0 2px 2px 0 rgba(44, 63, 88, 0.04);
            background-color: #ffffff;
            border: none;
            color: black;
        }
    }
    .arrow-right{
        text-align: right;
        .fas.fa-arrow-right {
            
            border-radius: 50%;
            padding: 10px;
            color: rgba(56, 61, 70, 0.2);
            &:hover {
                box-shadow: 0 0 64px 0 rgba(44, 63, 88, 0.05), 0 0 32px 0 rgba(44, 63, 88, 0.05),
                0 16px 16px 0 rgba(44, 63, 88, 0.03), 0 8px 8px 0 rgba(44, 63, 88, 0.03),
                0 4px 4px 0 rgba(44, 63, 88, 0.03), 0 2px 2px 0 rgba(44, 63, 88, 0.04);
                background-color: #ffffff;
                border: none;
                color: black;
            }
        }
    }
}
