.container {
    .titleSochi {
        .article-description {
            width: 38%;
            margin-top: 15px;
        }
    }
}
.fullGallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto;
    column-gap: 30px;
    align-items: center;
    [class^="column-"] {
        display: grid;
        row-gap: 30px;
        .galleryItem {
            position: relative;
            img {
                display:block;
                width: 100%;
                height: auto;
                &:hover{
                    opacity: 0.3;
                    transition: all .5s ease;

                }
            }
            &:hover {
                
                border-radius: 6px;
                background: linear-gradient(to bottom,rgba(42, 43, 48, 0), #2a2b30 100%);
                background-size: cover;
                transition: all .5s ease;
                p{
                    z-index:1;
                }
            }
            .subtitle{
                position:absolute;
                bottom:50px;
                padding:10px;
                z-index: -1;
                font-family: 'Playfair Display';
                font-size: 16px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.25;
                letter-spacing: 0.25px;
                color: #ffffff;
            }
            p{
                position:absolute;
                bottom:0;
                padding:10px;
                z-index: -1;
                font-family: 'Playfair Display';
                font-size: 24px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.25;
                letter-spacing: 0.25px;
                color: #ffffff;
            }
        }
    }
}
