.container-image {
    position: relative;
    .absoluteTextHero {
        bottom: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        position: absolute;
        background-color: white;
        height: 140px;
        padding: 10px 60px 10px 20px;
        width: 400px;
        h3 {
            margin: 10px 0px 15px 0px;
            width: 100%;
            font-family: "Playfair Display";
            font-size: 32px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: normal;
            color: #2c3f58;
        }
        p {
            margin: 0;
            font-family: "Poppins";
            font-size: 32px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.03;
            letter-spacing: normal;
            color: #2c3f58;
            span {
                padding: 5px;
                font-family: "Poppins";
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #2c3f58;
            }
        }
    }
}
.gridTemplateRoom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin-top: 100px;
    .gridItem {
        &:hover{
            border-radius: 6px;
            box-shadow: 0 24px 64px 0 rgba(44, 63, 88, 0.06), 0 1px 0 0 rgba(44, 63, 88, 0.02);
        }
        .gridImg {
            position: relative;
            img {
                width: 100%;
            }
            .absoluteText {
                bottom: 0%;
                left: 0%;
                transform: translate(0%, 0%);
                position: absolute;
                padding: 20px;
                h5 {
                    margin: 0px;
                    font-family: "Playfair Display";
                    font-size: 24px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.25;
                    letter-spacing: 0.25px;
                    color: #ffffff;
                }
                p {
                    margin: 0;
                    font-family: "Poppins";
                    font-size: 24px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.38;
                    letter-spacing: normal;
                    color: #ffffff;
                    span {
                        font-family: "Poppins";
                        font-size: 16px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #ffffff;
                    }
                }
            }
            p {
                width: 85%;
                font-family: "Playfair Display";
                font-size: 24px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.25;
                letter-spacing: 0.25px;
                color: #2c3f58;
            }
        }
        .gridFooter {
            display: grid;
            grid-template-columns: 1fr 1fr;
            .gridItemFooterCard {
                display: flex;
                align-items: center;
                padding-left: 20px;
                .gridIMG {
                    width: 20%;
                    img {
                        max-width: 100%;
                    }
                }
                .gridText {
                    padding-left: 10px;
                    font-family: "Poppins";
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #72809d;
                }
            }
        }
    }
}
//.formFilters {
//    display: flex;
//    align-items: center;
//    width: 100%;
//    border-bottom: 1px solid rgba(169, 172, 181, 0.2);
//    width: 90%;
//    margin: 0 auto;
//    .btn-date {
//        display: flex;
//        input {
//            margin: 0;
//            padding: 10px;
//            background-color: #ffffff;
//            border-radius: 6px;
//            border: solid 1px rgba(114, 128, 157, 0.3);
//        }
//    }
//    .btn-nbr-pers {
//        margin:100px;
//        display: flex;
//        align-items: center;
//        justify-content: center;
//        background-color: #ffffff;
//        border-radius: 6px;
//        border: solid 1px rgba(114, 128, 157, 0.3);
//        .line {
//            height: 50px;
//            width: 1px;
//            border: 1px solid black;
//        }
//        .btn-left{
//            .btn-adult {
//                background-color: #ffffff71;
//                border-radius: 6px;
//                .fa-minus-square {
//                    text-align: center;
//                    color: #72809d;
//                    background: #72809d;
//                }
//            }
//            label {
//            }
//        }
//        .btn-right{
//
//            .btn-kids{
//
//                background-color: #ffffff71;
//                border-radius: 6px;
//            }
//        }
//        label {
//        }
//    }
//}
