footer{
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1px solid #a9acb5;
    margin-top: 150px;
        .footerItem1{
            justify-content: space-around;
            display: flex;
            align-items: center;
            grid-column: 1/2;
        }
        .line{
            width:75px;
            height: 2px;
            border: 1px solid #2c3f58;
        }
        p{
            font-family: 'Poppins';
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #2c3f58;
        }
        
    }
            .linkSocialMedia{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                grid-column: 3/4; 
                
                    .socialLink{
                        padding: 20px;
                        .fab.fa-facebook-square{
                            color: #a9acb5;
                        }
                        .fab.fa-twitter{
                            color: #a9acb5;
                        }
                        .fab.fa-instagram{
                            color: #a9acb5;
    
                        }
                    }
                
            }
