header {
        nav {
        position: fixed;
        top:0;
        width: 100%;
        z-index: 12;
        border-bottom: 1px solid #ccc;
        padding: 15px;
        display: flex;
        align-items: center;
        background: #ffffff;
        .logoHeader {
            width: 20%;
            margin-right: auto;
            .logo-max-width{
                width:150px;
                a{
                    text-decoration: none;
                    cursor: pointer;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                padding: 0 15px;
                list-style: none;
                a {
                    text-decoration: none;
                    font-family: "Poppins";
                    font-size: 16px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;
                    color: #2c3f58;
                }
            }
        }
        .btn-reservation {
            width:20%;
            margin-left:auto;
            button {
                border: none;
                padding: 10px 45px;
                border-radius: 32px;
                box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
                background-color: #fe5303;
                a {
                    text-decoration: none;
                    font-family: "Poppins";
                    font-size: 16px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
    }
}