.btn-load {
    width:50%;
    margin:0 auto;
    text-align: center;
    margin-top:50px;
    margin-bottom:50px;
    .loadMore {
        cursor: pointer;
        border: none;
        padding: 10px 45px;
        border-radius: 32px;
        box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
        background-color: #fe5303;
        a {
            text-decoration: none;
            font-family: "Poppins";
            font-size: 16px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
        }
    }
}
.btn-reservation {
    width:20%;
    margin-left:auto;
    button {
        cursor: pointer;
        border: none;
        padding: 10px 45px;
        border-radius: 32px;
        box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
        background-color: #fe5303;
        a {
            text-decoration: none;
            font-family: "Poppins";
            font-size: 16px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
        }
    }
}
.btn-reservation-white {

    button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        border: none;
        padding: 20px 40px;
        border-radius: 32px;
        box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
        background-color: #ffffff;
        a {
            text-decoration: none;
            font-family: "Poppins";
            font-size: 16px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color:  #fe5303;
        }
    }
}
.btn-reservation-orange {
    width:40%;
    margin:0 auto;
    button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        border: none;
        border-radius: 32px;
        padding: 10px 40px;
        background-color: #fe5303;
        a {
            text-decoration: none;
            font-family: "Poppins";
            font-size: 14px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color:  #ffffff;
        }
        .lineBtn{
            width: 20px;
            height: 1px;
            border: 1px solid #ffffff;
        }
        .triangle{
            margin-top: -3px;
            width: 0;
            height: 0;
            border-bottom: 5px solid #ffffff;
            border-right: 5px solid transparent;
        }
    }
}
.btn-explore-white {

    button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        border: none;
        padding: 20px 40px;
        background-color: #ffffff;
        a {
            text-decoration: none;
            font-family: "Poppins";
            font-size: 14px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color:  #2c3f58;
        }
        .lineBtn{
            width: 20px;
            height: 1px;
            border: 1px solid #2c3f58;
        }
        .triangle{
            margin-top: -3px;
            width: 0;
            height: 0;
            border-bottom: 5px solid #2c3f58;
            border-right: 5px solid transparent;
        }
    }
}
.arrowBtn{
    display: flex;
    align-items: center;
    padding: 15px;
    .lineBtn{
        width: 20px;
        height: 1px;
        border: 1px solid #fe5303;
    }
    .triangle{
        margin-top: -3px;
        width: 0;
        height: 0;
        border-bottom: 5px solid red;
        border-right: 5px solid transparent;
    }
}
.stickyBuble {
    z-index: 10;
    position: sticky;
    top: 80%;
    .absoluteBuble {
        position: relative;
        .iconebubble {
            box-shadow: 0 64px 64px 0 rgba(44, 63, 88, 0.05), 0 0 32px 0 rgba(44, 63, 88, 0.05),
                0 16px 16px 0 rgba(44, 63, 88, 0.03), 0 8px 8px 0 rgba(44, 63, 88, 0.03),
                0 4px 4px 0 rgba(44, 63, 88, 0.03), 0 2px 2px 0 rgba(44, 63, 88, 0.04);
            background-color: #ffffff;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            position: absolute;
            right: 3%;
            img {
                width: 50%;
                position: absolute;
                top: 50%;
                left: 50%; /* à 50%/50% du parent référent */
                transform: translate(-50%, -50%);
            }
        }
    }
}
