.bookNow {
    background-color: white;
    margin-right: auto;
    padding: 0px 0px 0px 150px;
    z-index: 10;
    position: absolute;
    bottom: 0;
    left:0;
    width: 80%;
    form{
        display: flex;
        align-items: center ;
        width: 100%;
    }
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 0;

        input {
            list-style: none;
            text-decoration: none;
            font-family: "Poppins";
            font-size: 18px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            color: #2c3f58;
            border: none;
        }
        select {
            list-style: none;
            text-decoration: none;
            font-family: Poppins;
            font-size: 18px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            color: #2c3f58;
            border: none;
        }

        li {
            padding: 10px;
            padding-left: 0px;
            list-style: none;
            display: flex;
            flex-direction: column;
        }
        label {
            font-family: Poppins;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 1.8px;
            color: #a9acb5;
        }
        .line {
            padding: 0;
            margin: 25px;
            width: 40px;
            height: 1px;
            transform: rotate(120deg);
            opacity: 0.3;
            background-color: #a9acb5;
        }
    }
    .btn-bookNow{
        background-color: #fe5303;
        padding:30px;
        cursor: pointer;
        width: 20%;
        margin-left:155px;
        p{
            font-family: 'Poppins';
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 1.8px;
            color: #ffffff;
        }
        a{
            text-decoration: none;
            font-family: 'Poppins';
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 2.3px;
            color: #ffffff;
        }
    }
}
