/*.container{
    width:100%;
    max-width: 1200px;
    margin:0 auto;
}

/* Temporaire*/

/* a mettre*/
.row{ 
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -15px;
}

[class^="col-"] {
    padding: 0 15px;
    min-height: 50px;
    background-clip: content-box;
}

/* Pour mobile -xs*/
.col-xs-1{ width:8.33333%;}
.col-xs-2{ width:16.66666%;}
.col-xs-3{ width:25%;}
.col-xs-4{ width:33.33333%;}
.col-xs-5{ width:41.66666%;}
.col-xs-6{ width:50%;}
.col-xs-7{ width:58.33333%;}
.col-xs-8{ width:66.66666%;}
.col-xs-9{ width:75%;}
.col-xs-10{ width:83.33333%;}
.col-xs-11{ width:91.66666%;}
.col-xs-12{ width:100%;}

/* Pour tablette portrait -sm */
@media(min-width: 600px){
    .col-sm-1{ width:8.33333%;}
    .col-sm-2{ width:16.66666%;}
    .col-sm-3{ width:25%;}
    .col-sm-4{ width:33.33333%;}
    .col-sm-5{ width:41.66666%;}
    .col-sm-6{ width:50%;}
    .col-sm-7{ width:58.33333%;}
    .col-sm-8{ width:66.66666%;}
    .col-sm-9{ width:75%;}
    .col-sm-10{ width:83.33333%;}
    .col-sm-11{ width:91.66666%;}
    .col-sm-12{ width:100%;}
}

/*Pour tablette paysage -md*/
@media(min-width: 900px){
    .col-md-1{ width:8.33333%;}
    .col-md-2{ width:16.66666%;}
    .col-md-3{ width:25%;}
    .col-md-4{ width:33.33333%;}
    .col-md-5{ width:41.66666%;}
    .col-md-6{ width:50%;}
    .col-md-7{ width:58.33333%;}
    .col-md-8{ width:66.66666%;}
    .col-md-9{ width:75%;}
    .col-md-10{ width:83.33333%;}
    .col-md-11{ width:91.66666%;}
    .col-md-12{ width:100%;}
}

/*Pour desktop - lg*/
@media(min-width: 1200px){
    .col-lg-1{ width:8.33333%;}
    .col-lg-2{ width:16.66666%;}
    .col-lg-3{ width:25%;}
    .col-lg-4{ width:33.33333%;}
    .col-lg-5{ width:41.66666%;}
    .col-lg-6{ width:50%;}
    .col-lg-7{ width:58.33333%;}
    .col-lg-8{ width:66.66666%;}
    .col-lg-9{ width:75%;}
    .col-lg-10{ width:83.33333%;}
    .col-lg-11{ width:91.66666%;}
    .col-lg-12{ width:100%;}
}

/* Pour desktop-xl*/
@media(min-width: 1800px){
    .col-xl-1{ width:8.33333%;}
    .col-xl-2{ width:16.66666%;}
    .col-xl-3{ width:25%;}
    .col-xl-4{ width:33.33333%;}
    .col-xl-5{ width:41.66666%;}
    .col-xl-6{ width:50%;}
    .col-xl-7{ width:58.33333%;}
    .col-xl-8{ width:66.66666%;}
    .col-xl-9{ width:75%;}
    .col-xl-10{ width:83.33333%;}
    .col-xl-11{ width:91.66666%;}
    .col-xl-12{ width:100%;}
}