.grille {

    .simple{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    }
    .double {
      grid-column: span 2;
      img{
        max-width: 100%;
        height: auto;
    }
    }
  
    @media screen and (max-width: 900px) {
      grid-template-columns: 1fr 1fr;
  
    }
  
    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
  
      .double {
        grid-column: span 1;
      }
  
    }
  
  }