.header {
    background-image: url(assets/valeriia-bugaiova-_pPHgeHz1uk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.headerContainer{
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    display: block;
    padding:150px;
    h1{
        font-family: 'PlayFairDisplay', sans-serif;
        font-size: 150%;
        font-weight: bold;
        
    }
}

