html{
    font-size: 16px;
}
@media (min-width){
    html{font-size: 12px;}
    h1{font-size:150%}
}
/* Pour tablette portrait -sm */
@media(min-width: 600px){
    html{font-size: 12px;}
    h1{font-size:150%}

/*Pour tablette paysage -md*/
@media(min-width: 900px){
    html{font-size: 16px;}
    h1{font-size:150%}
}

/*Pour desktop - lg*/
@media(min-width: 1200px){
    html{font-size: 16px;}
    h1{font-size:150%}
}

/* Pour desktop-xl*/
@media(min-width: 1800px){
    html{font-size: 16px;}
    h1{font-size:150%}
}
}