.Gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;   
}
.gallery__item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33%;
    padding-bottom: 20px;
    margin:0;


}
.gallery__item--1{
    width:66%;
    padding-bottom: 20px;


}
.relative_item{
    position: relative;
}
.absoluteTextGallery{
    position: absolute;
    bottom:0;
    left:0;
    padding:30px;
    h5{
        margin:0px;
        font-family: 'Playfair Display';
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: 0.25px;
        color: #ffffff;
    }
    p{
        font-family: 'Poppins';
        font-size: 24px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        color: #ffffff;
        span{
            font-family: 'Poppins';
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
        }
    }
}

