.titleSochi {
    margin:0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    h2 {
        font-family: "Playfair Display";
        font-size: 48px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.16;
        letter-spacing: normal;
        color: #2c3f58;
    }
    .article-meta{
        font-family: "Poppins";
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.81;
        letter-spacing: normal;
        color: #a9acb5;
        text-transform: uppercase;
    }
    p {
        font-family: "Poppins";
        text-transform: uppercase;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.81;
        letter-spacing: normal;
        color: rgba(44, 63, 88, 0.8);
    }
    .article-meta-post{
        font-family: "Poppins";
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.81;
        letter-spacing: normal;
        color: rgba(44, 63, 88, 0.8);
        text-transform: uppercase;
    }
}
.container {
    width: 80%;
    margin: 0 auto;
    margin-top:100px;
}

